<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="container" style="margin-top:10px;">
        <div class="row form-group" id="container"></div>

        <hr>

        <button type="button" class="btn btn-link btn-lg btn-block"> More </button>
    </div>


    <!-- jQuery -->
<script id="photo" type="text/x-handlebars-template">
\{{#each photos}}

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-image">
                <img src="\{{standard}}" class="panel-image-preview" />
                <label for="toggle-4"></label>
            </div>
            <input type="checkbox" id="toggle-4" checked class="panel-image-toggle">
            <div class="panel-body">
                <h4><a href="\{{link}}" target="_blank">\{{username}}</a></h4>

                <button type="button" class="btn btn-info btn">
                  <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> \{{filter}} 
                </button>

                <button type="button" class="btn btn-warning btn">
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> #nofilter 
                </button>
            </div>
        </div>
    </div>

\{{/each}}
</script>

    <script id="entry-template" type="text/x-handlebars-template" src="/js/tpl.js"></script>

    <script src="/js/jquery.js"></script>
    <script src="/js/handlebars-v2.0.0.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
